# In order to run `act` with the secrets below, copy this file to test/.env
# enter the proper values and source it via `source test/.env`

# Emulate GITHUB_TOKEN with a PAT, make sure it has appropriate permissions
export GITHUB_TOKEN=<YOUR PAT>>